* {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #747704;
}

h1, h2, h3 {
  font-family: 'Overlock SC', cursive;
}

body{
  color:black;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

body {
  padding-top: 56px;
  font-family: 'Open Sans', sans-serif;
}

header {
  padding-bottom: 5px;
  margin-bottom: 20px;
}

footer {
  border-top: 2px solid #bcbbbb;
  margin-top: 10px;
  color: #747704;
}

.foot{
  padding:0px;
}
.center-align {
  margin: 0 auto;
}

.text-muted {
  color: #bcbbbb;
}

.text-thin {
  font-weight: 100;
}

.logo {
  max-height: 50px;
}

.project {
  border-width: 5px;
  border-color: gray;
  border-style: solid;
  margin: 2px;
}

.proj-img {
  max-height: 200px;
}

.blue {
  color:blue;
}